{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(expo/(.*)$)|^(expo$)|^(expo-(.*)$)|^(@expo/(.*)$)",
    "^(react-native/(.*)$)|^(react-native$)|^(react-native-(.*)$)|^(@react-native/(.*)$)",
    "^(react/(.*)$)|^(react$)|^(react-(.*)$)|^(@react/(.*)$)",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
