fastapi[standard]
uvicorn[standard]
google-genai
google-cloud-storage
pandas
Pillow
python-multipart
python-dotenv
firebase-admin
google-search-results
easyocr
receiptparser
munch
pytesseract
wand # requires installing imagemagick
thefuzz